.navbar{
  opacity: 10;
  backdrop-filter: blur(0px);
  background-color: #141414;
  width: 100%;
  height: 54px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navElements {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  gap: 50px;
  margin-left: 47px;
  margin-top: 16px;
}

.navElement{  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  line-height: 21px;  
  
  color: var(--white);
  
  flex: none;
  order: 0;
  flex-grow: 0;
}

.navElement:hover {
  color: var(--lightblue);
}

.navElement:active {
  color: var(--blue);
}