#thomas {
  position: absolute;
  width: 419px;
  height: 103px;
  left: 396px;
  top: 366px;

  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 500;
  font-size: 83px;
  line-height: 103px;

  background: linear-gradient(101.46deg, #D6D6D6 -13.93%, #8ACAFE 107.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#rooskens {
  position: absolute;
  width: 905px;
  height: 180px;
  left: 396px;
  top: 443px;

  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 800;
  font-size: 145px;
  line-height: 180px;


  background: linear-gradient(101.46deg, #2196F3 -13.93%, #8ACAFE 107.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#blob1, #blob2, #blob3 {
  position: absolute;
  filter: blur(100px);
  scale: 0.8;
}

#blob1 {
  width: 527.25px;
  height: 516.39px;
  left: 1019.93px;
  top: 155.74px;

}

#blob2 {
  width: 546.31px;
  height: 472.66px;
  left: 1282.69px;
  top: 467px;
}

#blob3 {
  width: 504.4px;
  height: 414.46px;
  left: 960px;
  top: 525.54px;
}

#project1 {
  position: absolute;
  width: 593px;
  height: 292px;
  left: 400px;
  top: 1129px;
}

#project2 {
  position: absolute;
  width: 537px;
  height: 267px;
  left: 983px;
  top: 1576px;  
}